@import url(https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css);
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

.primary-color {
  background: #233142;
}

.secondary-color {
  background: #005792;
}

.tert-color {
  background: #00bbf0;
}

.quat-color {
  background: #fdb44b;
}

.primary-color-text {
  background: #233142;
}

.secondary-color-text {
  color: #005792;
}

.tert-color-text {
  color: #00bbf0;
}

.quat-color-text {
  color: #fdb44b;
}
